# Managed by pz-server. Unknown/generated keys in the runtime file are preserved.
PVP=true
PVPLogToolChat=true
PVPLogToolFile=true
PauseEmpty=true
GlobalChat=true
ChatStreams=s,r,a,w,y,sh,f,all
Open=true
ServerWelcomeMessage=Welcome to ${SERVER_PUBLIC_NAME}! The world pauses while nobody is connected.
DisplayUserName=true
ShowFirstAndLastName=false
SafetySystem=true
ShowSafety=true
DefaultPort=${GAME_PORT}
UDPPort=${DIRECT_PORT}
Mods=${MODS}
Map=${MAP_NAMES}
DoLuaChecksum=true
Public=false
PublicName=${SERVER_PUBLIC_NAME}
PublicDescription=Private Build 42 server for friends
MaxPlayers=${MAX_PLAYERS}
SaveWorldEveryMinutes=10
RCONPort=${RCON_PORT}
RCONPassword=${RCON_PASSWORD}
Password=${SERVER_PASSWORD}
MaxAccountsPerUser=1
WorkshopItems=${WORKSHOP_ITEMS}
SteamScoreboard=false
SteamVAC=true
UPnP=false
VoiceEnable=true
BackupsCount=5
BackupsOnStart=true
BackupsOnVersionChange=true
BackupsPeriod=0
DiscordEnable=false
